.multislider {
  padding: 0 40px;

}


.multislider__wrapper {
  margin: 0;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  overflow: hidden;
}

.multislider__img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.multislider__navigate {
  margin: 50px auto 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.multislider__btn {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
   background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  /* opacity: 0; */
}


@keyframes move_left1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes move_right1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.multislider_move_left {
  display: flex;
  animation: move_left1 .5s linear;
}

.multislider_move_right {
  display: flex;
  animation: move_right1 .5s linear;
}

.multislider__img-wrapper {
  display: none;
  background: no-repeat center center / cover;
}

.multislider__img_active {
  display: block;
}

.multislider__btn_inactive {
   filter:opacity(.1)
}

.multislider__btn_prev {
  background-image: url('/images/arrow-circle.svg');
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.multislider__btn_next {
  background-image: url('/images/arrow-circle.svg');
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  }

  .multislider__btn_start {
    background-image: url('/images/arrow-end-circle.svg');
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
  
  .multislider__btn_end {
    background-image: url('/images/arrow-end-circle.svg');
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    }